#topPanel{
	height: 260px;
	width: 100%;
	box-shadow: 0 6px 5px rgba(0,0,0, 0.06);
	z-index: 100;
}

.interest {
	display: flex;
	align-items: center;
	margin-bottom: 6px;
}

.main {
	width: 100%;
	display: flex;
}

.main{
    height: calc(100% - 37px);
    display: flex;
}
.title{
    height: 37px;
	border-radius: 0;
    font-weight: normal;
    position: relative;
}
#groupCover{
    height: 100%;
    background-size: 100% auto;
    background-position: 0 50%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#groupCover>h1{
    font-size: 4rem;
    color: white;
    text-shadow:
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
       text-transform: uppercase;
}
#groupInterests{
    width: 250px;
    background-color: #f0f3f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -5px 0 5px rgba(0,0,0,0.1);
    overflow: auto;
}
#groupInterests>h2{
	font-size: 1.1em;
}
#joinButton{
	background-color: #fdfdfd;
	border-radius: 8px;
	font-size: 20px;
	font-weight: bold;
	padding: 5px 12px;
    box-shadow: 3.5px 3.5px 5px rgba(0,0,0,0.08);
    position: absolute;
    right: 20px;
}
#joinButton:active{
	transform: translate(0, 1px);
}