.title{
    display: flex;
    justify-content: space-between;
}
.title>div>span{
    font-weight: bold;
    margin-right: 5px;
}
#interestedButton{
    display: flex;
    align-items: center;
    cursor: pointer;
}
#interestedButton:active{
    transform: translate(0, 1px);
}
#interestedButton>.symbolCircle{
    background-color: #f6f6f6;
    position: relative;
    left:16%;
}
#interestedButton>.whiteRounded{
    padding-left: 26px;
    background-color: rgb(228,231,233);
    box-sizing: border-box;
    height: 24px;
}
#eventInfo{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
#eventInfo>*{
    flex-grow: 1;
    box-sizing: border-box;
    flex-basis: 40%;
}
#dateAndDescription{
    padding: 15px 5px 15px 15px;
}
#dateAndDescription .date{
    display: inline-block;
    margin-bottom: 10px;
}
#dateAndDescription .date .whiteRounded{
    margin: 0;
    width: 100%;
}
#dateAndDescription .date .whiteRounded,
#description
{
    box-shadow: 4px 4px 3px rgba(0,0,0,0.06);
}
#description{
    margin-top: 10px;
}
#comments{
    margin: 0 5%;
    /* background-color: orange; */
}
#comments>h2{
    position: relative;
}
.addCommentIcon{
    position: absolute;
	right: 6px;
	cursor: pointer;
}
#map{
    position: relative;
    min-height: 300px;
    margin: 15px;
    flex-grow: 1.1;
}