#topGroupPanel{
    height: 260px;
    /* height: 16.25em; */
    width: 100%;
    box-shadow: 0 6px 5px rgba(0,0,0, 0.06);
    z-index: 100;
}
#topGroupPanel > .main{
    height: calc(100% - 37px);
    display: flex;
}
#topGroupPanel > .title{
    height: 37px;
    border-radius: 0;
}
#groupCover{
    height: 100%;
    background-image: url("/img/military.jpg");
    background-size: 100% auto;
    background-position: 0 50%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#groupCover>h1{
    font-size: 4rem;
    color: white;
    text-shadow:
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
       text-transform: uppercase;
}
#groupInterests{
    width: 250px;
    background-color: #f0f3f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -5px 0 5px rgba(0,0,0,0.1);
}
#groupInterests>h2{
    font-size: 1.1em;
}
.interest{
    display: flex;
    align-items: center;
}
#middleScreen>.main{
    width: 100%;
    display: flex;
    padding-top: 15px;
}
#posts{
    flex-grow: 1;
    padding-left: 22px;
}
#groupEvents{
    width: 285px;
}
#posts .navbarButton{
	margin: 0 10px 10px 10px;
}
#posts>input{
	display: inline-block;
}

