.interest{
    display: flex;
	align-items: center;
	margin-bottom: 6px;
}
#middleScreen>.main{
    width: 100%;
    display: flex;
    padding-top: 15px;
}
#posts{
    flex-grow: 1;
	padding-left: 22px;
}
#groupEvents{
	min-width: 32%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 4px;
}
#newPost .navbarButton{
	/* margin: 0 10px 10px 10px; */
	display: inline-block;
	margin-right: 10px;
}
#newPost{
	display: flex;
	align-items: center;
	margin: 0 10px 10px;
}
#newPost>input{
	width: 90%;
	border: none;
}
.post{
	margin-bottom: 16px;
	background-color: #eef1f3;
	border: 0.5px solid rgba(0,0,0,0.1);
	box-shadow: 5px 5px 5px rgba(0,0,0,0.05);
	border-radius: 4px;
	position: relative;
}
.reportButton{
	position: absolute;
	right: 5px;
	top: 7px;
	cursor: pointer;
}
.post>.person{
	margin-top: 10px;
	margin-left: 10px;
	display: inline-block;
}
.postContent{
	margin: 0 15px 15px 39px;
}
.postContent>hr{
	width: 95%;
	background-color: #e0e0e0;	
}
.comment{
	padding-top: 3px;
	padding-bottom: 3px;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 6px;
}
.comment *{
	vertical-align: middle;
}
.commentingPerson{
	font-weight: bold;
	white-space: nowrap;
	margin-bottom: auto;
}
.commentingPerson>.name::after{
	content: ":";
	margin-right: 5px;
}
.comment>span{
	/* font-style: italic; */
	color: rgba(40,33,50,0.9)
}

.addCommentIcon{
	position: absolute;
	left: 6px;
	bottom: 5px;
	cursor: pointer;
}
/* .commentingPerson>span{
	vertical-align: middle;
}
.commentingPerson>.name{
} */
#joinButton{
	background-color: #fdfdfd;
	border-radius: 8px;
	font-size: 20px;
	font-weight: bold;
	padding: 5px 12px;
	box-shadow: 3.5px 3.5px 5px rgba(0,0,0,0.08);
}
#joinButton:active{
	transform: translate(0, 1px);
}
#groupEvents{
	min-height: 370px;
}
#groupEvents .event{
	height: auto;
	font-size: 0.85em;
}
#groupEvents .event>.main{
	flex-flow: row wrap;
	justify-content: space-evenly;
}
#groupEvents .date{
	flex-basis: 150px;
	font-size: 0.9em;
}
#groupEvents .date .whiteRounded{
	margin: 7px 0 0 7px;
}
#groupEvents .location{
	flex-basis: 100px;
}
#groupEvents .interested{
	margin-bottom: 6px;
}
#groupEvents .interested>div{
	padding-left: 6%;
}
#groupEvents .title{
	padding-top: 6px;
	padding-bottom: 6px;
}
#newEventButton{
	margin-top: 7px;
	vertical-align: middle;
	line-height: 100%;
	box-shadow: 3.5px 3.5px 5px rgba(0,0,0,0.08);
	cursor: pointer;
}
#newEventButton:active{
	transform: translate(0, 1px);
}
#newEventButton>.material-icons{
	margin-right: 5px;
}