#topGroupPanel{
    height: 260px;
    /* height: 16.25em; */
    width: 100%;
    box-shadow: 0 6px 5px rgba(0,0,0, 0.06);
    z-index: 100;
}
#topGroupPanel > .main{
    height: calc(100% - 37px);
    display: flex;
}
#topGroupPanel > .title{
    height: 37px;
	border-radius: 0;
	font-weight: normal;
}
#groupCover{
    height: 100%;
    background-image: url("/img/military.jpg");
    background-size: 100% auto;
    background-position: 0 50%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#groupCover>h1{
    font-size: 4rem;
    color: white;
    text-shadow:
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
       text-transform: uppercase;
}
#groupInterests{
    width: 250px;
    background-color: #f0f3f5;
    display: flex;
    flex-direction: column;
    align-items: center;
	box-shadow: -5px 0 5px rgba(0,0,0,0.1);
}
#groupInterests>h2{
	font-size: 1.1em;
}
.interest{
    display: flex;
	align-items: center;
	margin-bottom: 6px;
}
#middleScreen>.main{
    width: 100%;
    display: flex;
    padding-top: 15px;
}
#posts{
    flex-grow: 1;
	padding-left: 22px;
}
#groupEvents{
    min-width: 300px;
}
#newPost .navbarButton{
	/* margin: 0 10px 10px 10px; */
	display: inline-block;
	margin-right: 10px;
}
#newPost{
	display: flex;
	align-items: center;
	margin: 0 10px 10px;
}
#newPost>input{
	width: 90%;
	border: none;
}
.post{
	margin-bottom: 16px;
	background-color: #eef1f3;
	border: 0.5px solid rgba(0,0,0,0.1);
	box-shadow: 5px 5px 5px rgba(0,0,0,0.07);
	border-radius: 4px;
	position: relative;
}
.post>.person{
	margin-top: 10px;
	margin-left: 10px;
	display: inline-block;
}
.postContent{
	margin: 0 15px 15px 39px;
}
.postContent>hr{
	width: 95%;
	background-color: #e0e0e0;	
}
.comment{
	padding-top: 3px;
	padding-bottom: 3px;
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
}
.comment>.person{
	display: inline-block;
	margin: 0;
	white-space: nowrap;
}
.commentContent{
	display: inline-block;
	height: 26px;
}
.addCommentIcon{
	position: absolute;
	left: 5px;
	bottom: 5px;
}
