html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #eceff1;
    font-family: 'Muli', sans-serif;
}
#container{
    flex-grow: 1;
    display: flex;
}
#leftPanel{
    background-color: rgb(228,231,233);
    width: 17%;
    box-shadow: 0.25vw 0 0.25vw rgba(0, 0, 0, 0.08); /*0.25vw = ~4px ale ignoruje zoom*/
    user-select: none;
}
#middleScreen{
    flex-grow: 1;
}
#rightPanel{
    background-color: rgb(228,231,233);
    box-shadow: -0.25vw 0 0.25vw rgba(0, 0, 0, 0.08);
    width: 27%;
    user-select: none;
}
.symbolCircle{
    color: rgb(68, 62, 77);
    background-color: white;
    border-radius: 100%;
    margin-right: 5px;
}
input{
    font-family: inherit;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid;
    border-color: rgb(204,204,204);
    padding: 6px 15px;
}
primaryColor{
    color: #282132;
}

button{
    background-color: transparent;
    border: none;
    outline: none;
}
#leftPanel,#rightPanel{
    display: flex;
    flex-direction: column;
    align-items: center;
}
hr{
    width: 200px;
    border: none;
    height: 1px;
    background-color: #f1f3f4;
}
h2{
    font-size: 18px;
    margin: 15px 0 5px;
}
ul{
    list-style-type: none;
    margin: 4px 0;
    padding: 0;
}
#leftPanel li{
    margin: 6px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}
#leftPanel li:active{
    transform: translate(0,1px);
}
li>.symbolCircle{
    font-size: 22px;
    padding: 2px;
}
#leftPanel li>span{
    background-color: #f8f8f8;
    padding: 3px 15px;
    border-radius: 15px;
    width: 100%;
}