#navbar{
    background-color: #e0e5da;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 100;
    user-select: none;
    padding: 8px 0;
}
#logo{
    font-family: 'Krona One', sans-serif;
    font-size: 1.85vw;
    color: #72bb53;
    text-shadow: 0 0.25vw 0.3vw  rgba(0, 0, 0, 0.08);
    margin-left: 4%;
}
#navbarButtonsFlex{
    margin-left: 2.5vw;
    display: flex;
    backface-visibility: hidden;
}
.navbarButton{
    color: rgb(62, 56, 70);
    font-size: 36px;
    text-shadow: -0.2vw -0.2vw 0.25vw rgba(0,0,0,0.1);
    margin: 0 2vw;
    transition: all 0.03s ease-in-out 0.02s;
    backface-visibility: hidden;
    cursor: pointer;
}
.navbarButton:hover{
    /* transform: scale(1.1) perspective(1px); */
    text-shadow: -0.15vw -0.15vw 0.25vw rgba(0,0,0,0.1);
    color: rgb(30, 30, 30)
}
.navbarButton:active{
    /* transform: scale(1.05); */
    transform: translate(0, 1px);
}
#loggedUser{
    margin: 0 20px 0 auto;
    display: flex;
    align-items: center;
    transition: all 0.03s ease-in-out 0.02s;
    cursor: pointer;
}
#loggedUser:hover>#profilePic{
    /* transform: scale(1.1) perspective(1px); */
}
#loggedUser:active{
    transform: translate(0, 1px);
}
.searchBar{
    display: flex;
    align-items: center;
    /* flex-direction: row-reverse; */
    margin: 0 60px;
    position: relative;
}
.searchBar>input{
    padding-right: 25px;
}
.searchIcon{
    position: absolute;
    right: 5px;
}
.logOutButton{
    display:flex;
    align-items: center;
    margin-right: 10px;
    font-size: inherit;
    cursor: pointer;
}
#logOutIcon{
    margin-right: 2px;
}