button{
    font-family: inherit;
}
#leftPanel,#rightPanel{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

h2{
    font-size: 18px;
    margin: 15px 0 5px;
}
ul{
    list-style-type: none;
    margin: 4px 0;
    padding: 0;
}
li>.symbolCircle{
    font-size: 22px;
    padding: 2px;
}
.person span, #groupsList a{
    background-color: #f8f8f8;
    padding: 3px 15px;
    border-radius: 15px;
}
#leftPanel li a,
#leftPanel li span{
    width: 100%;
}
#middleScreen{
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow: auto;
}
#userData{
	padding:20px;
	display: flex;
	justify-content: center;
	/* display-direction:row; */
}
#userDetails
{
		margin-top: -7px;
		/* flex-grow:1; */
		display:flex;
		flex-flow:column;
		text-align:right;
		padding: 10px;
		margin: 0 50px;
}
.interestsAndGroups
{
	padding: 0 54px;
	margin-top: 15px;
	box-sizing: border-box;
	justify-content:space-between;
	display:flex;
	width:100%;
}