.spinner{
	margin: 0;
	border: 10px solid #AEB2A9;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	border-bottom-color: rgba(0,0,0,0);
	border-right-color: rgba(0,0,0,0);
	animation: rotateSpinner 0.7s infinite linear;
	backface-visibility: hidden;
	will-change: transform;
}
@keyframes rotateSpinner{
	from{
		transform: rotate(-360deg);
	}
}