.searchBar{
    display: flex;
    align-items: center;
    width: 200px;
    position: relative;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}
.searchBar>input{
    padding-right: 25px;
}
.searchIcon{
    position: absolute;
	right: 5px;
} 
.searchInput{
  font-family: 'Muli', sans-serif;
  padding: 2px;
  border-radius: 5px;
  border: 1px solid;
  border-color: rgb(204, 204, 204);
  padding: 6px 15px;
}