#leftPanel{
    background-color: rgb(228,231,233);
    min-width: 17%;
    box-shadow: 0.25vw 0 0.5vw rgba(0, 0, 0, 0.08); /*0.25vw = ~4px ale ignoruje zoom*/
	/* user-select: none; */
	display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}
li{
    width: 100%;
}
.group{
    margin: 6px 0;
    width: 100%;
}
.group>a{
    background-color: #f8f8f8;
	padding: 3px 15px;
    border-radius: 15px;
    width: 100%;
    display: block;
    box-sizing: border-box;
}
.group:active{
    transform: translate(0, 1px);
}