#newEventForm{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
#newEventForm .whiteRounded{
    box-shadow: 3.5px 3.5px 3px rgba(0,0,0,0.06); 
}
#newEventForm input{
    display: block;
}
#eventNameInput{
    width: 60%;

}
#eventDetailsFlex{
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
#eventDetailsFlex>div{
    width: 40%;
    min-width: 200px;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
#eventDetailsFlex h3{
    margin-top: 0px;
}
h1{
    font-size: 1.5em;
}
#dateTime{
    align-self: flex-start;
}
#dateTime>input{
    margin: 5px 0;
}
#descMap textarea{
    width: 100%;
     min-height: 135px; 
    height: auto;
    box-sizing: border-box;
    margin-bottom: 15px;
    height: auto;
    
}
#map{
    /* position: relative; */
    /* min-height: 250px; */
    display: flex;
    justify-content: center;
    width: 100%;
    height: 85%;
    margin-top: 10px;
}

#mapSize{
    margin-top: 10px;
    width: 90%;
     /* min-height: 300px; */
    height: 85%;
}

#mapHeader{
    margin-top: 80px;
}

#createEventButton{
    margin-bottom: 20px;
    padding-bottom: 20px;
}
