.post{
	margin-bottom: 16px;
	background-color: #eef1f3;
	border: 0.5px solid rgba(0,0,0,0.1);
	box-shadow: 5px 5px 5px rgba(0,0,0,0.05);
	border-radius: 4px;
	position: relative;
	animation: postAppear 0.5s cubic-bezier(0.86, 0, 0.07, 1);
	opacity: 1;
	transform: translate(0,0);
}
@keyframes postAppear{
	from{
		opacity: 0;
		transform: translate(0, -7%);
	}
}
.postContent{
	margin: 0 15px 10px 39px;
}
.postContent>hr{
	width: 95%;
	background-color: #e0e0e0;	
}
.post>div:first-child{
	margin-top: 10px;
	margin-left: 10px;
	display: inline-block;
}

.comment{
	padding-top: 3px;
	padding-bottom: 3px;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 6px;
	animation: postAppear 0.5s cubic-bezier(0.86, 0, 0.07, 1);
	opacity: 1;
	transform: translate(0,0);
}
.comment *{
	vertical-align: middle;
}
.comment>div:first-child{
	/* font-weight: bold; */
	white-space: nowrap;
	margin-top: 0;
	margin-bottom: 0;
}
.comment>span{
	color: rgba(40,33,50,0.9);
	margin-left: 6px;
}
.comment a>span::after{
	content: ":";
}
.newComment{
	width: 83%;
	margin-right: 5px;
}
form{
	display:flex;
}
.commentSubmit{
	height: 30px;
}
.deleteButton{
	position: absolute;
	top: 11px;
	right: 8px;
	opacity: 0.65;
	cursor: pointer;
}
.deleteButton:active{
	transform: translate(0, 1px);
}
.comment .deleteButton{
	font-size: 20px;
}
