@import url('https://fonts.googleapis.com/css?family=Krona+One|Muli|Material+Icons|Dosis|Roboto');

html {
  height: 100%;
}

body {
  /* height: 100%; */
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
}/** główne czcionki jesli nie wybrano innych **/

* {
  color: #282132;
}

primaryColor {
  color: #282132;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
button{
  background-color: transparent;
  border: none;
  outline: none;
}

hr{
  width: 200px;
  border: none;
  height: 1px;
  background-color: #f1f3f4;
}

.material-icons {
  user-select: none;
}

.circlePic {
  color: rgb(68, 62, 77);
  background-color: white;
  border-radius: 100%;
  margin-right: 5px;
}

.whiteRounded {
  background-color: #fafafa;
  border-radius: 15px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}
input:focus::placeholder,input:focus::-webkit-input-placeholder{
  opacity: 0;
}

.submitButtonGreen{
  font-weight: bold;
  margin-top: 10px;
  background: #cbe8ba;
  color: #629c44;
  border-radius: 80px;
  border: 0px;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
  padding-left: 40px;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

.submitButtonGreen:active{
  transform: translate(1px, 2px);
}
