.person{
	display: flex;
    align-items: center;
	cursor: pointer;
	margin: 6px 0;
}
.person>a{
	display: flex;
    align-items: center;
}
.person:active{
    transform: translate(0,1px);
}
.person span{
    background-color: #f8f8f8;
    padding: 3px 15px;
    border-radius: 15px;
}