.person{
	display: flex;
    align-items: center;
	cursor: pointer;
    margin: 6px 0;
    font-weight: normal;
}
.person>a{
	display: flex;
    align-items: center;
}
.person:active{
    transform: translate(0,1px);
}
.spanBackground{
    padding: 3px 15px;
    border-radius: 15px;
    background-color: #f8f8f8;
}
.spanNoBackground{
    background-color: transparent;
    padding: 3px 0;
}