.comment{
	padding-top: 3px;
	padding-bottom: 3px;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 6px;
}
.comment *{
	vertical-align: middle;
}
.commentingPerson{
	font-weight: bold;
	white-space: nowrap;
	margin-bottom: auto;
}
.commentingPerson>.name::after{
	content: ":";
	margin-right: 5px;
}
.comment>span{
	/* font-style: italic; */
	color: rgba(40,33,50,0.9)
}