*{
    color: #282132;
}
a{
    text-decoration: none;
}
.material-icons{
    user-select: none;
}
button{
    font-family: inherit;
}
html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
    flex-direction: column;
    background-color: #eceff1;
    font-family: 'Muli', sans-serif;
}
#container{
    height: calc(100vh - 50px);
    display: flex;
}
#leftPanel{
    background-color: rgb(228,231,233);
    min-width: 17%;
    box-shadow: 0.25vw 0 0.5vw rgba(0, 0, 0, 0.08); /*0.25vw = ~4px ale ignoruje zoom*/
    user-select: none;
}
#middleScreen{
    flex-grow: 1;
}
#rightPanel{
    background-color: rgb(228,231,233);
    box-shadow: -0.25vw 0 0.4vw rgba(0, 0, 0, 0.08);
    min-width: 27%;
    user-select: none;
}
.symbolCircle{
    color: rgb(68, 62, 77);
    background-color: white;
    border-radius: 100%;
    margin-right: 5px;
}
input{
    font-family: inherit;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid;
    border-color: rgb(204,204,204);
    padding: 6px 15px;
}
primaryColor{
    color: #282132;
}

button{
    background-color: transparent;
    border: none;
    outline: none;
}
#leftPanel,#rightPanel{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}
hr{
    width: 200px;
    border: none;
    height: 1px;
    background-color: #f1f3f4;
}
h2{
    font-size: 18px;
    margin: 15px 0 5px;
}
ul{
    list-style-type: none;
    margin: 4px 0;
    padding: 0;
}
#leftPanel li, .person, .person>a{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.person, .group {
    margin: 6px 0;
}
#leftPanel li:active,.person:active{
    transform: translate(0,1px);
}
li>.symbolCircle{
    font-size: 22px;
    padding: 2px;
}
.person span, #groupsList a{
    background-color: #f8f8f8;
    padding: 3px 15px;
    border-radius: 15px;
}
#leftPanel li a,
#leftPanel li span{
    width: 100%;
}
#middleScreen{
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow: auto;
}
#topPanel{
    height: 260px;
    /* height: 16.25em; */
    width: 100%;
    box-shadow: 0 6px 5px rgba(0,0,0, 0.06);
    z-index: 100;
}
#topPanel > .main{
    height: calc(100% - 37px);
    display: flex;
}
#topPanel > .title{
    height: 37px;
	border-radius: 0;
	font-weight: normal;
}
#groupCover{
    height: 100%;
    background-image: url("/img/military.jpg");
    background-size: 100% auto;
    background-position: 0 50%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#groupCover>h1{
    font-size: 4rem;
    color: white;
    text-shadow:
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
       text-transform: uppercase;
}
#groupInterests{
    width: 250px;
    background-color: #f0f3f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -5px 0 5px rgba(0,0,0,0.1);
    overflow: auto;
}
#groupInterests>h2{
	font-size: 1.1em;
}
#map>iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#navbar{
    background-color: #e0e5da;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    user-select: none;
    padding: 8px 2%;
    box-sizing: border-box;
    max-width: 100%;
    height: 50px;
    /* overflow: auto; */
}
#leftAlignedItems,#rightAlignedItems{
    display: flex;
    justify-content: space-between;
}
#leftAlignedItems{
    flex-basis: 30%;
    flex-shrink: 10;
}
#rightAlignedItems{
    flex-basis: 40%;
}
#logo{
    font-family: 'Krona One', sans-serif;
    font-size: 30px;
    color: #72bb53;
    text-shadow: 0 4.4px 5.2px  rgba(0, 0, 0, 0.08);
}
#navbarButtonsFlex{
    width: 13.5vw;
    display: flex;
    justify-content: space-between;
}
.navbarButton{
    display: block;
    color: rgb(62, 56, 70);
    font-size: 36px;
    text-shadow: -0.2vw -0.2vw 0.25vw rgba(0,0,0,0.1);
    /* margin: 0 2vw; */
    user-select: none;
}
.navbar .navbarButton{
    cursor: pointer;
}
.navbar .navbarButton:hover{
    /* transform: scale(1.1) perspective(1px); */
    color: rgb(30, 30, 30)
}
.navbar .navbarButton:active{
    /* transform: scale(1.05); */
    transform: translate(0, 1px);
}
#loggedUser{
    margin: 0 1.1% 0 0;
    display: flex;
    align-items: center;
    transition: all 0.03s ease-in-out 0.02s;
    cursor: pointer;
    white-space: nowrap;
}
#loggedUser:active{
    transform: translate(0, 1px);
}
.searchBar{
    display: flex;
    align-items: center;
    width: 200px;
    position: relative;
}
.searchBar>input{
    padding-right: 25px;
}

.searchGroupBar{
    display: flex;
    align-items: center;
	  justify-content: center;
	  margin-top: 50px;
	 margin-left: 25px;
}
.searchGroupBar>input{
    padding-right: 50px;
}

.searchIcon{
    position: absolute;
    right: 5px;
}

.searchGroupIcon{
    position: relative;
		right: 25px;
}

.logOutButton{
    margin-right: 0.5%;
    font-size: inherit;
    cursor: pointer;
}
.logOutButton>a{
    display:flex;
    align-items: center;
}

.eventList{
    width: 90%;
    margin-top: 6px;
}
.event{
    margin: 4px 0;
    height: 190px;
    display: flex;
    flex-direction: column;
    box-shadow: 6px 6px 5px rgba(0,0,0,0.06);
}

.title{
    background-color: white;
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.event>.title{
    cursor: pointer;
    transform: translate(0,-1px);
}
.event>.title:active{
    transform: translate(0,0px);
}
.event>.main{
    height: 80%;
    display: flex;
    flex-flow: column wrap;
    background-color: #f0f3f5;
}
.event>.main>*{
    display: flex;
    background-color: #f0f3f5;
    width: 50%;
}
.date{
    border-top-left-radius: 4px;
}
.groupName{
    border-top-right-radius: 4px;
}
.whiteRounded{
    background-color: #fafafa;
    border-radius: 15px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}
.date>.whiteRounded{
    margin: auto;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 3px;
    width: 85%;
    /* align-self: flex-start; */
    font-size: 2.7em;
}
.date>.whiteRounded>.material-icons{
    font-size: 24px;
}
.dateDetails{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 1.04rem;
    margin-left: 5px;
}
.month{
    text-transform: capitalize;
    font-weight: bold;
}
.groupName .whiteRounded, .location>.whiteRounded{
    height: 25px;
}
.groupName,.location{
    flex: 0 0 50%;
    justify-content: flex-end;
}
.groupName .whiteRounded, .location>.whiteRounded{
    margin: 10px 20px 10px 0;
    font-size: 0.9em;
    position: relative;
}
.location .material-icons{
    position: absolute;
    left: -25px;
}
.interested{
    flex-grow: 1;
    display: block;
}
.interested>div:first-child{
    padding: 10px 0px 0px 20px;
}
.interestedList{
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.interested span:last-child{
    margin-left: 8px;
    font-size: 0.8em;
    text-decoration: underline;
    cursor: pointer;
}
.interested .symbolCircle{
    cursor: pointer;
}
.groupName .whiteRounded{
    cursor: pointer;
}
.groupName .whiteRounded:active{
    transform: translate(0,1px);
}
#middleScreen>*{
    min-width: 67%;
    max-width: 90%;
    flex-shrink: 1;
}
.postsNews{
    margin-top: 20px;
}
.postInfo{
    margin: 20px 0;
    display: flex;
    flex-flow: column;
    box-shadow: 6px 6px 5px rgba(0,0,0,0.06);
    font-size: 14px;
}
.postInfo>.main{
    box-sizing: border-box;
    height: 80%;
    padding: 15px;
    background-color: #f0f3f5;
}
.postInfo .person{
    width: fit-content;
}
.postInfo>.title{
    font-weight: normal;
    height: 28px;
}

#groupList{
	margin-top: 45px;
	display: flex;
  flex-flow: column;
  align-items: center;
}

.groupFromList{
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  text-overflow: clip;
	padding: 8px 40px 8px 40px;
	margin-bottom: 15px;
  background: rgba(252,252,252,1);
	width: 300px;
}