#newPost{
	display: flex;
	align-items: center;
	margin: 0 10px 10px;
}
#newPost>textarea{
	width: 90%;
	border: none;
}
.button{
	color: rgb(62, 56, 70);
	text-shadow: -0.2vw -0.2vw 0.25vw rgba(0,0,0,0.1);
	user-select: none;
	font-size: 32px;
	cursor: pointer;
}
.button:active{
	transform: translate(0px, 1px);
}
#posts{
    flex-grow: 1;
	padding-left: 22px;
}
#container{
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}